@charset "utf-8";
/* GERAL */
body,
html,
div,
span,
a,
ul,
li,
dl,
dt,
dd,
figure,
section,
header,
p,
form,
fieldset,
button,
input {
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-decoration: none;
  outline: none;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure,
a,
img,
span,
:after,
:before {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
html object {
  display: none;
}
figure img {
  width: 100%;
}
body {
  font-size: 100%;
  background: #fff;
  overflow-x: hidden;
}
body * {
  font-family: 'AauxPro OT';
}
body strong {
  font-weight: bold;
}
/*******************************
            GLOBAL
*******************************/
.d-midle {
  display: inline-block;
  vertical-align: middle;
}
.d-top {
  display: inline-block;
  vertical-align: top;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.hide {
  display: none;
}
.b-sizing {
  box-sizing: border-box;
}
#popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  text-align: center;
}
#popUp:before {
  content: '';
  background: #fff;
  opacity: .95;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#popUp:after {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: height 0.7s;
  -o-transition: height 0.7s;
  transition: height 0.7s;
}
#popUp section {
  display: inline-block;
  vertical-align: middle;
  border: 2px dashed #413a37;
  margin: 2em;
  opacity: 0;
}
#popUp section > a {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #413a37;
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: 999;
}
#popUp section > a:before {
  content: 'x';
  color: #fff;
  font-size: 1.5em;
  line-height: 1.15em;
}
#popUp section > a span {
  display: none;
}
#popUp section p {
  font-size: 1.6875em;
  text-transform: uppercase;
  color: #a7997c;
  line-height: 1.68em;
  font-weight: 500;
  padding: 1em;
}
#popUp section p strong {
  color: #413a37;
}
#popUp section.active {
  opacity: 1;
}
#popUp.gallery:before {
  content: '';
  background: #e2dfd6;
  opacity: .9;
}
#popUp.gallery section {
  border: none;
}
#popUp.gallery section figcaption {
  text-transform: uppercase;
  font-size: 2em;
  color: #584f4c;
  font-weight: 500;
  padding: 0.3em;
  margin-top: -1.6em;
}
#popUp .ctrl {
  display: none;
}
#CS {
  display: none;
}
.arrow:after {
  content: '';
  position: absolute;
  left: calc(50% - 1.28615em);
  bottom: -1.28615em;
  width: 2.5723em;
  height: 2.5723em;
  background: #dedddc;
  border-radius: 2.5723em;
  z-index: 9;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
.arrow._down:before {
  content: '';
  background: url('../images/arrow_down.svg') center center no-repeat;
  background-size: contain;
  font-size: 2.4em;
  position: absolute;
  left: calc(50% - 0.33em);
  bottom: -0.38em;
  width: 0.64em;
  height: 0.64em;
  color: #726865;
  z-index: 10;
  font-weight: bold;
  line-height: 0.64em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.parallax-container .parallax {
  z-index: 1 !important;
}
.nicescroll-rails.nicescroll-rails-vr {
  background: #e2dfd6 !important;
  width: 6px !important;
}
.nicescroll-rails.nicescroll-rails-vr .nicescroll-cursors {
  width: 4px !important;
  background: #a7997c !important;
  border-color: #a7997c !important;
}
.msgInfo {
  position: absolute;
  opacity: 0;
  top: 0;
  width: max-content;
  height: 0;
  overflow: hidden;
  z-index: 10;
  padding: 0;
  background: #000;
  font-size: 0.825em !important;
  line-height: 1em !important;
  cursor: crosshair;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.msgInfo * {
  color: #fff !important;
  font-weight: bold !important;
  font-size: 1em !important;
  font-family: 'AauxPro OT' !important;
  line-height: 1.5em !important;
}
.msgInfo.inverse {
  background: #fff;
}
.msgInfo.inverse * {
  color: #000 !important;
}
.msgInfo.inverse.up:before {
  border-bottom-color: white;
}
.msgInfo.inverse.down:before {
  border-top-color: white;
}
.msgInfo.up:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: -8px;
}
.msgInfo.down:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  bottom: -8px;
}
.msgInfo.to-right:before {
  right: 0.7em;
}
.msgInfo.active {
  opacity: 1;
  height: initial;
  overflow: initial;
  padding: 0.25em 0.7em;
}
.cssload-thecube {
  width: 73px;
  height: 73px;
  position: absolute;
  left: calc(50% - 36.5px);
  top: calc(50% - 36.5px);
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2ba0c7;
  animation: cssload-fold-thecube 2.76s infinite linear both;
  -o-animation: cssload-fold-thecube 2.76s infinite linear both;
  -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
  -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
  -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
  transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
  -o-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotateZ(90deg);
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
  -o-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotateZ(180deg);
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
  -o-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotateZ(270deg);
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c1:before {
  background-color: #8f8a89;
}
.cssload-thecube .cssload-c2:before {
  background-color: #5e5552;
  animation-delay: 0.35s;
  -o-animation-delay: 0.35s;
  -ms-animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
  -moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
  background-color: #a7997c;
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
  background-color: #e2dfd6;
  animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -moz-animation-delay: 1.04s;
}
@keyframes cssload-fold-thecube {
  0%,
  10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
@-o-keyframes cssload-fold-thecube {
  0%,
  10% {
    -o-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -o-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -o-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
@-ms-keyframes cssload-fold-thecube {
  0%,
  10% {
    -ms-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -ms-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -ms-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
@-webkit-keyframes cssload-fold-thecube {
  0%,
  10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
@-moz-keyframes cssload-fold-thecube {
  0%,
  10% {
    -moz-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -moz-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -moz-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
/*******************************
            MAIN
*******************************/
html,
body {
  height: 100%;
}
main {
  max-width: 1024px;
  margin: 0 auto;
  /*background: url('../images/psd/home-info.jpg') 0 0 no-repeat;*/
  /********* ---------comingsoon---------- *********/
}
main:not(.comingsoon) > header {
  height: 400px;
}
main:not(.comingsoon) > header:before {
  content: '';
  width: 200%;
  height: 68px;
  background: #e2dfd6;
  position: absolute;
  left: -50%;
}
main:not(.comingsoon) > header > * {
  position: absolute;
  left: 0;
  top: 0;
}
main:not(.comingsoon) > header h1 {
  width: 315px;
  left: calc(50% - 157px);
  top: 113px;
  padding: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main:not(.comingsoon) > header h1 img {
  width: 100%;
}
main:not(.comingsoon) > header .sac {
  font-size: 0.8125em;
  text-transform: uppercase;
  letter-spacing: .04em;
  left: 50px;
  top: 1.2em;
  line-height: 1.25em;
  color: #584f4c;
}
main:not(.comingsoon) > header .sac a {
  color: #584f4c;
}
main:not(.comingsoon) > header ul {
  left: auto;
  right: 50px;
  top: 1.2em;
}
main:not(.comingsoon) > header ul .msgInfo {
  top: 57px;
  left: 30px;
}
main:not(.comingsoon) > header ul li {
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon) > header ul li a {
  font-size: 1.6em;
  color: #584f4c;
  margin: 0 0 0 16px;
}
main:not(.comingsoon) > header ul li span {
  display: none;
}
main:not(.comingsoon) > header nav.menu {
  top: 102px;
  cursor: crosshair;
}
main:not(.comingsoon) > header nav.menu .msgInfo {
  top: -44px;
  left: 20px;
}
main:not(.comingsoon) > header nav.menu a {
  text-transform: uppercase;
  color: #796f6c;
  letter-spacing: .04em;
  line-height: 1.134em;
  margin-bottom: 3px;
  padding-right: 0;
  height: 0.5em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
main:not(.comingsoon) > header nav.menu a:hover,
main:not(.comingsoon) > header nav.menu a.active {
  color: #413a37;
}
main:not(.comingsoon) > header nav.menu a span {
  font-size: 0;
  opacity: 0;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main:not(.comingsoon) > header nav.menu a:nth-child(1),
main:not(.comingsoon) > header nav.menu a:nth-child(2),
main:not(.comingsoon) > header nav.menu a:nth-child(4) {
  opacity: 1;
}
main:not(.comingsoon) > header nav.menu > a:before {
  content: '';
  background: #a7997c;
  width: 37px;
  height: 100%;
  margin-right: 14px;
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon) > header nav.menu > a span {
  background: #e2dfd6;
  padding: 0 .4em;
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon) > header nav.menu nav {
  display: block;
  left: 100%;
  position: absolute;
  margin: -46px 0 0 0px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main:not(.comingsoon) > header nav.menu nav a {
  margin-bottom: 8px;
  height: 0em !important;
}
main:not(.comingsoon) > header nav.menu nav a span {
  background: #f3f1f0;
  padding: 0 .4em;
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon) > header nav.menu nav:hover {
  opacity: 1;
  margin-left: 14px;
}
main:not(.comingsoon) > header nav.menu:hover a,
main:not(.comingsoon) > header nav.menu.active a {
  margin-bottom: 28px;
  height: 1.134em;
  opacity: 1;
}
main:not(.comingsoon) > header nav.menu:hover a span,
main:not(.comingsoon) > header nav.menu.active a span {
  font-size: .9375em;
  opacity: 1;
}
main:not(.comingsoon) > header nav.menu:hover a:hover,
main:not(.comingsoon) > header nav.menu.active a:hover,
main:not(.comingsoon) > header nav.menu:hover a.active,
main:not(.comingsoon) > header nav.menu.active a.active {
  padding-right: 14px;
}
main:not(.comingsoon) > header nav.menu:hover a:hover + nav,
main:not(.comingsoon) > header nav.menu.active a:hover + nav,
main:not(.comingsoon) > header nav.menu:hover a.active + nav,
main:not(.comingsoon) > header nav.menu.active a.active + nav {
  opacity: 1;
}
main:not(.comingsoon) .carrossel {
  max-height: 585px;
  max-width: 1024px;
  overflow: hidden;
}
main:not(.comingsoon) .carrossel img {
  width: 100%;
}
main:not(.comingsoon) .carrossel dl dt {
  position: absolute;
  top: calc(50% - 161.5px);
  left: 83px;
  width: 323px;
  height: 323px;
  border-radius: 323px;
  background: #8f8a89;
  z-index: 9;
  box-sizing: border-box;
  padding: 3em;
  -webkit-box-shadow: 0px 0px 0px 30px rgba(226, 223, 214, 0.5);
  -moz-box-shadow: 0px 0px 0px 30px rgba(226, 223, 214, 0.5);
  box-shadow: 0px 0px 0px 30px rgba(226, 223, 214, 0.5);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main:not(.comingsoon) .carrossel dl dt:before {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon) .carrossel dl dt.to-right {
  right: 83px;
  left: auto;
}
main:not(.comingsoon) .carrossel dl dt.to-center {
  right: auto;
  left: calc(50% - 161.5px);
}
main:not(.comingsoon) .carrossel dl dt > div {
  display: inline-block;
  vertical-align: middle;
  color: #e2dfd6;
}
main:not(.comingsoon) .carrossel dl dt > div h2 {
  font-family: 'Archer Book';
  font-size: 2.125em;
  text-transform: uppercase;
}
main:not(.comingsoon) .carrossel dl dt > div p {
  font-size: 1.5625em;
  line-height: 1.2em;
  padding-right: .3em;
}
main:not(.comingsoon) .carrossel .owl-controls {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
main:not(.comingsoon) .carrossel .owl-theme .owl-dots .owl-dot.active span,
main:not(.comingsoon) .carrossel .owl-theme .owl-dots .owl-dot:hover span {
  background: #796f6c;
}
main:not(.comingsoon):not(.home) > header h1 {
  background: #fff;
  width: 130px;
  padding: 20px;
  left: calc(50% - 85px);
  top: 31px;
}
main:not(.comingsoon):not(.home) > header h1,
main:not(.comingsoon):not(.home) > header nav.menu {
  z-index: 9;
}
main:not(.comingsoon):not(.home) .carrossel {
  margin-top: -332px;
}
main:not(.comingsoon):not(.home) .carrossel dl dt {
  width: 210px;
  height: 210px;
  border-radius: 210px;
  top: 326px;
  left: 88px;
  padding: 0.9em;
  -webkit-box-shadow: 0px 0px 0px 20px rgba(226, 223, 214, 0.5);
  -moz-box-shadow: 0px 0px 0px 20px rgba(226, 223, 214, 0.5);
  box-shadow: 0px 0px 0px 20px rgba(226, 223, 214, 0.5);
}
main:not(.comingsoon):not(.home) .carrossel dl dt > div h2 {
  font-size: 1.8125em;
}
main:not(.comingsoon) .phraseTag {
  height: 73px;
  text-align: center;
}
main:not(.comingsoon) .phraseTag:before {
  content: '';
  position: absolute;
  width: 200%;
  left: -50%;
  height: 100%;
  background: #fff;
}
main:not(.comingsoon) .phraseTag:after {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon) .phraseTag * {
  color: #584f4c;
  font-family: 'Archer Book';
  font-size: 1.435em;
  line-height: 1.5em;
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon) .phraseTag._brown * {
  color: #584f4c;
}
main:not(.comingsoon) .phraseTag._brown:before {
  background: #a7997c;
}
main:not(.comingsoon) .phraseTag._darkbrown * {
  color: #e2dfd6;
}
main:not(.comingsoon) .phraseTag._darkbrown:before {
  background: #584f4c;
}
main:not(.comingsoon) .phraseTag._lightgray * {
  color: #584f4c;
}
main:not(.comingsoon) .phraseTag._lightgray:before {
  background: #e2dfd6;
}
main:not(.comingsoon) .phraseTag._darkgray * {
  color: #e2dfd6;
}
main:not(.comingsoon) .phraseTag._darkgray:before {
  background: #8f8a89;
}
main:not(.comingsoon) ul.navg {
  bottom: -93px;
  z-index: 1;
}
main:not(.comingsoon) ul.navg li {
  float: left;
}
main:not(.comingsoon) ul.navg li a:before {
  content: '';
  width: 37px;
  height: 17px;
  background: #a7997c;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.9em;
}
main:not(.comingsoon) ul.navg li a span {
  display: inline-block;
  vertical-align: middle;
  background: #e2dfd6;
  padding: 0 .45em;
  color: #413a37;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1em;
  height: 17px;
}
main:not(.comingsoon) ul.navg li .msgInfo {
  top: 46px;
  left: 29px;
}
main:not(.comingsoon) ul.navg li .msgInfo.to-right {
  left: initial;
  right: 29px;
}
main:not(.comingsoon) ul.navg li:last-child {
  float: right;
}
main:not(.comingsoon) ul.navg li:last-child a:before {
  display: none;
}
main:not(.comingsoon) ul.navg li:last-child a:after {
  content: '';
  width: 37px;
  height: 17px;
  background: #a7997c;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.9em;
}
main:not(.comingsoon) div.carrGaleria {
  max-width: 885px;
  margin: 0 auto;
}
main:not(.comingsoon) div.carrGaleria figure {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #413a37;
  margin-right: -3px;
  z-index: 9;
}
main:not(.comingsoon) div.carrGaleria figure figcaption {
  padding: 1.6em 1.75em;
  line-height: 1.3em;
}
main:not(.comingsoon) div.carrGaleria figure figcaption p {
  font-size: 1.25em;
  font-weight: 500;
}
main:not(.comingsoon) div.carrGaleria figure figcaption em {
  font-size: 1em;
}
main:not(.comingsoon) div.carrGaleria .cntr {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9;
}
main:not(.comingsoon) div.carrGaleria .ctrl,
#popUp .ctrl {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
main:not(.comingsoon) div.carrGaleria .ctrl a,
#popUp .ctrl a {
  width: 42px;
  height: 42px;
  background: #a59f95;
  position: absolute;
  text-align: center;
  top: calc(50% - 21px);
  right: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 9;
}
main:not(.comingsoon) div.carrGaleria .ctrl a span,
#popUp .ctrl a span {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  height: 100%;
}
main:not(.comingsoon) div.carrGaleria .ctrl a:before,
#popUp .ctrl a:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 15px solid #d7d7c9;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main:not(.comingsoon) div.carrGaleria .ctrl a:first-child,
#popUp .ctrl a:first-child {
  left: 0;
  right: auto;
}
main:not(.comingsoon) div.carrGaleria .ctrl a:first-child:before,
#popUp .ctrl a:first-child:before {
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 15px solid #d7d7c9;
  border-left: 0;
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon) div.carrGaleria .ctrl a:hover,
#popUp .ctrl a:hover {
  background: #d7d7c9;
}
main:not(.comingsoon) div.carrGaleria .ctrl a:hover:before,
#popUp .ctrl a:hover:before {
  border-left: 15px solid #a59f95;
}
main:not(.comingsoon) div.carrGaleria .ctrl a:hover:first-child:before,
#popUp .ctrl a:hover:first-child:before {
  border-right: 15px solid #a59f95;
  border-left: 0;
}
main:not(.comingsoon) .circleTitle {
  width: 309px !important;
  height: 309px;
  border-radius: 309px;
  background: #e2dfd6;
  text-align: center;
  position: absolute;
}
main:not(.comingsoon) .circleTitle p {
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Archer';
  font-weight: 300;
  color: #a7997c;
  padding: 2.4em 0 0.4em;
}
main:not(.comingsoon) .circleTitle p:before {
  content: '';
  width: 261px;
  height: 261px;
  top: 24px;
  left: 24px;
  position: absolute;
  border: 2px solid #000;
  border-radius: 261px;
  box-sizing: border-box;
}
main:not(.comingsoon) .circleTitle figure {
  width: 67%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  height: 140px;
}
main:not(.comingsoon) .circleTitle figure img {
  width: 100%;
}
main:not(.comingsoon) .circleTitle:before {
  content: '';
  width: 273px;
  height: 273px;
  top: 18px;
  left: 18px;
  position: absolute;
  border: 2px solid #000;
  border-radius: 273px;
  box-sizing: border-box;
}
main:not(.comingsoon) .circleTitle:after {
  content: '';
  width: 267px;
  height: 267px;
  top: 21px;
  left: 21px;
  position: absolute;
  border: 2px solid #000;
  border-radius: 267px;
  box-sizing: border-box;
}
main:not(.comingsoon) section.projects aside {
  background: #8f8a89;
  width: 293px;
  height: 285px;
  display: inline-block;
  vertical-align: middle;
  padding: 1.6em;
  box-sizing: border-box;
  line-height: 1.375em;
}
main:not(.comingsoon) section.projects aside * {
  color: #e2dfd6;
}
main:not(.comingsoon) section.projects aside h3 {
  font-size: 1.3125em;
  font-family: 'AauxPro OT';
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: .8em;
}
main:not(.comingsoon) section.projects aside p {
  font-family: 'Archer Book';
  font-size: 1.375em;
}
main:not(.comingsoon) section.projects .carrGaleria {
  width: 730px;
  height: 285px;
  display: inline-block;
  vertical-align: middle;
  background: #f3f1f0;
  margin-left: -4px;
  box-sizing: border-box;
}
main:not(.comingsoon) section.projects .carrGaleria .msgInfo {
  top: -7px;
  left: 24px;
}
main:not(.comingsoon) section.projects .carrGaleria ul {
  width: 1000px;
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
}
main:not(.comingsoon) section.projects .carrGaleria ul li {
  width: 255px;
  height: 255px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  margin: 15px 11px 15px 15px;
  overflow: hidden;
  border-radius: 8px;
}
main:not(.comingsoon) section.projects .carrGaleria ul li a {
  width: 100%;
  height: 100%;
}
main:not(.comingsoon) section.projects .carrGaleria ul li a img {
  height: 100%;
}
main:not(.comingsoon) aside.round {
  width: 205px;
  height: 205px;
  border-radius: 205px;
  background: #8f8a89;
  z-index: 9;
  box-sizing: border-box;
  padding: 1.5em;
  display: inline-block;
  vertical-align: top;
  -webkit-box-shadow: 0px 0px 0px 20px rgba(226, 223, 214, 0.5);
  -moz-box-shadow: 0px 0px 0px 20px rgba(226, 223, 214, 0.5);
  box-shadow: 0px 0px 0px 20px rgba(226, 223, 214, 0.5);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main:not(.comingsoon) aside.round:before {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon) aside.round.to-right {
  right: 83px;
  left: auto;
}
main:not(.comingsoon) aside.round.to-center {
  right: auto;
  left: calc(50% - 161.5px);
}
main:not(.comingsoon) aside.round > div {
  display: inline-block;
  vertical-align: middle;
  color: #e2dfd6;
}
main:not(.comingsoon) aside.round > div h2 {
  font-family: 'Archer Book';
  font-size: 1.5em;
  text-transform: uppercase;
}
main:not(.comingsoon) aside.round > div p {
  font-size: 1.125em;
  line-height: 1.2em;
  padding-right: .3em;
}
main:not(.comingsoon) p.title,
main:not(.comingsoon) a.title {
  border-left: 4px solid #8f8a89;
  padding-left: 12px;
  position: relative;
  padding: 0.65em 0.8em;
  margin: 20px 0 47px 17px;
}
main:not(.comingsoon) p.title:before,
main:not(.comingsoon) a.title:before {
  content: '';
  background: #8f8a89;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 3px;
}
main:not(.comingsoon) p.title:after,
main:not(.comingsoon) a.title:after {
  content: '';
  background: #8f8a89;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12px;
  height: 3px;
}
main:not(.comingsoon) p.title span,
main:not(.comingsoon) a.title span {
  font-family: 'Archer Book';
  color: #a7997c;
  font-size: 1.40625em;
  text-transform: uppercase;
  line-height: 1.1em;
}
main:not(.comingsoon) p.round,
main:not(.comingsoon) a.round {
  width: 140px;
  height: 140px;
  border-radius: 140px;
  background: #e2dfd6;
  text-align: center;
}
main:not(.comingsoon) p.round:before,
main:not(.comingsoon) a.round:before {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon) p.round span,
main:not(.comingsoon) a.round span {
  font-size: 24px;
  line-height: 25.5px;
  text-transform: uppercase;
  color: #796f6c;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
main:not(.comingsoon) footer {
  position: relative;
  padding: 2.9em 0;
  margin-top: 3em;
}
main:not(.comingsoon) footer h1 {
  width: 216px;
  margin: 0 auto 3em;
}
main:not(.comingsoon) footer * {
  color: #8f8a89;
}
main:not(.comingsoon) footer > section {
  width: 310px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0.9em 5.5em;
}
main:not(.comingsoon) footer > section > * {
  line-height: 1.5em;
}
main:not(.comingsoon) footer > section address {
  font-size: 0.875em;
  font-weight: 500;
  text-transform: uppercase;
}
main:not(.comingsoon) footer > section > p {
  font-size: 1em;
  font-weight: 500;
}
main:not(.comingsoon) footer > section > p a {
  display: inline-block;
  vertical-align: top;
}
main:not(.comingsoon) footer > section > p i {
  margin-left: .5em;
}
main:not(.comingsoon) footer nav {
  display: inline-block;
  vertical-align: top;
  line-height: 1.85em;
  font-weight: 500;
  margin: 0.6em 4.1em 0.6em 1.4em;
  position: relative;
}
main:not(.comingsoon) footer nav a {
  font-size: 0.8125em;
  font-weight: 500;
  color: #a7997c;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
main:not(.comingsoon) footer nav .msgInfo {
  top: -45px;
  left: -18px;
}
main:not(.comingsoon) footer:before {
  content: '';
  position: absolute;
  width: 200%;
  left: -50%;
  height: 100%;
  background: #413a37;
  top: 0;
}
main:not(.comingsoon).home .phraseTag._darkbrown .msgInfo {
  top: -35px;
  right: 56px;
}
main:not(.comingsoon).home section.ourProducts {
  text-align: center;
  padding-bottom: 27px;
}
main:not(.comingsoon).home section.ourProducts h3,
main:not(.comingsoon).arevitech section.time h3,
main:not(.comingsoon).simulador3d h3 {
  font-family: 'Archer Book';
  font-size: 2.125em;
  color: #584f4c;
  text-transform: uppercase;
  padding: 1.3em 0;
  width: 100%;
  box-sizing: border-box;
}
main:not(.comingsoon).home section.ourProducts dl {
  width: 207px;
  min-height: 390px;
  display: inline-block;
  vertical-align: middle;
  background: #5e5552;
  margin: 0 6px 20px 10px;
}
main:not(.comingsoon).home section.ourProducts dl * {
  color: #a7997c;
  text-align: left;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main:not(.comingsoon).home section.ourProducts dl dt figure {
  overflow: hidden;
  width: 100%;
  height: 202px;
}
main:not(.comingsoon).home section.ourProducts dl dt figure img {
  width: 100%;
  position: absolute;
}
main:not(.comingsoon).home section.ourProducts dl dt figure img.over {
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  z-index: 1;
}
main:not(.comingsoon).home section.ourProducts dl dt figure img.under {
  width: 200%;
  left: -50%;
  top: -50%;
  -webkit-transition: all 5.5s;
  -o-transition: all 5.5s;
  transition: all 5.5s;
}
main:not(.comingsoon).home section.ourProducts dl dt h4 {
  padding: 1em 0.675em 0.675em;
  font-size: 1.75em;
  text-transform: uppercase;
}
main:not(.comingsoon).home section.ourProducts dl dd p {
  padding: 0 1.25em 1.25em;
  font-size: 1.125em;
  line-height: 1.1875em;
}
main:not(.comingsoon).home section.ourProducts dl:hover * {
  color: #e2dfd6;
}
main:not(.comingsoon).home section.ourProducts dl:hover dt img.over {
  opacity: 0;
}
main:not(.comingsoon).home section.ourProducts dl:hover dt img.under {
  width: 100%;
  left: 0;
  top: 0;
}
main:not(.comingsoon).home section.benefits {
  position: relative;
  height: 1177px;
}
main:not(.comingsoon).home section.benefits > h3 {
  top: 48px;
  left: 68px;
}
main:not(.comingsoon).home section.benefits article,
main:not(.comingsoon).nossosprojetos section.projects article,
main:not(.comingsoon).nossosprojetos section.projects article.cont-01,
main:not(.comingsoon).nossosprojetos section.projects article.cont-01.vrt,
main:not(.comingsoon).nossosprojetos section.projects article.cont-04,
main:not(.comingsoon).nossosprojetos section.projects article.cont-07,
main:not(.comingsoon).nossosprojetos section.projects article.vrt,
main:not(.comingsoon).nossosprojetos section.projects article.cont-02,
main:not(.comingsoon).nossosprojetos section.projects article:nth-child(3),
main:not(.comingsoon).nossosprojetos section.projects article:nth-child(6),
main:not(.comingsoon).nossosprojetos section.projects article:nth-child(10),
main:not(.comingsoon).nossosprojetos section.projects article:nth-child(6),
main:not(.comingsoon).nossosprojetos section.projects article:nth-child(7),
main:not(.comingsoon).nossosprojetos section.projects article.cont-03,
main:not(.comingsoon).nossosprojetos section.projects article:nth-child(9) {
  display: inline-block;
  vertical-align: top;
  width: 244px;
  position: absolute;
}
main:not(.comingsoon).home section.benefits article figure,
main:not(.comingsoon).nossosprojetos section.projects article figure,
main:not(.comingsoon).nossosprojetos section.projects article figure:hover,
main:not(.comingsoon).nossosprojetos section.projects article.vrt figure,
main:not(.comingsoon).nossosprojetos section.projects article.vrt figure:hover {
  overflow: hidden;
  width: 244px;
  height: 244px;
  box-sizing: border-box;
  background: #f3f1f0;
}
main:not(.comingsoon).home section.benefits article figure span,
main:not(.comingsoon).nossosprojetos section.projects article figure span,
main:not(.comingsoon).nossosprojetos section.projects article.vrt figure span {
  margin: 13px;
  box-sizing: border-box;
  width: 218px;
  height: 218px;
  overflow: hidden;
  border-radius: 8px;
}
main:not(.comingsoon).home section.benefits article figure span img,
main:not(.comingsoon).nossosprojetos section.projects article figure span img,
main:not(.comingsoon).nossosprojetos section.projects article.vrt figure span img {
  width: 100%;
  -webkit-transition: all 5.5s;
  -o-transition: all 5.5s;
  transition: all 5.5s;
  position: absolute;
  left: 0;
  top: 0;
}
main:not(.comingsoon).home section.benefits article figure:hover img,
main:not(.comingsoon).nossosprojetos section.projects article figure:hover img,
main:not(.comingsoon).nossosprojetos section.projects article.vrt figure:hover img {
  width: 200%;
  left: -50%;
  top: -80%;
}
main:not(.comingsoon).home section.benefits article.cont-01 {
  top: 387px;
  left: 89px;
}
main:not(.comingsoon).home section.benefits article.cont-01 p,
main:not(.comingsoon).nossosprojetos section.projects article.cont-01 p {
  background: #e2dfd6;
  color: #796f6c;
  font-size: 1.21875em;
  text-transform: uppercase;
  line-height: 1.1em;
  width: 180px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: .8em 1.1em;
}
main:not(.comingsoon).home section.benefits article.cont-02 {
  top: 49px;
  left: 412px;
}
main:not(.comingsoon).home section.benefits article.cont-02 p,
main:not(.comingsoon).nossosprojetos section.projects article.cont-02 p {
  color: #796f6c;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.0625em;
  margin: 0.6em 0 -0.4em;
}
main:not(.comingsoon).home section.benefits article.cont-02 p font,
main:not(.comingsoon).nossosprojetos section.projects article.cont-02 p font {
  color: #a7997c;
  display: block;
}
main:not(.comingsoon).home section.benefits article.cont-02 p:after,
main:not(.comingsoon).nossosprojetos section.projects article.cont-02 p:after {
  content: '................................';
  display: block;
  font-size: 1.1em;
  height: 30px;
  margin-top: -11px;
}
main:not(.comingsoon).home section.benefits article.cont-03 {
  top: 50px;
  left: 712px;
}
main:not(.comingsoon).home section.benefits article.cont-03 p.title {
  border-left: 4px solid #8f8a89;
  padding-left: 12px;
  position: relative;
  padding: 0.65em 0.8em;
  margin: 20px 0 47px 17px;
}
main:not(.comingsoon).home section.benefits article.cont-03 p.title:before {
  content: '';
  background: #8f8a89;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 3px;
}
main:not(.comingsoon).home section.benefits article.cont-03 p.title:after {
  content: '';
  background: #8f8a89;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12px;
  height: 3px;
}
main:not(.comingsoon).home section.benefits article.cont-03 p.title span {
  font-family: 'Archer Book';
  color: #a7997c;
  font-size: 1.40625em;
  text-transform: uppercase;
  line-height: 1.1em;
}
main:not(.comingsoon).home section.benefits article.cont-03 p.round {
  float: right;
  margin-top: -40px;
}
main:not(.comingsoon).home section.benefits article.cont-04 {
  top: 493px;
  left: 554px;
  position: relative;
}
main:not(.comingsoon).home section.benefits article.cont-04 p,
main:not(.comingsoon).nossosprojetos section.projects article.cont-04 p {
  width: 182px;
  height: 182px;
  border-radius: 182px;
  border: 3px dotted #796f6c;
  text-align: center;
  position: absolute;
  left: -177px;
  bottom: 16px;
  z-index: 1;
}
main:not(.comingsoon).home section.benefits article.cont-04 p:before,
main:not(.comingsoon).nossosprojetos section.projects article.cont-04 p:before {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon).home section.benefits article.cont-04 p span,
main:not(.comingsoon).nossosprojetos section.projects article.cont-04 p span {
  font-family: 'Archer Book';
  color: #796f6c;
  font-size: 1.21875em;
  line-height: 22.5px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin: 0 0 0 27px;
}
main:not(.comingsoon).home section.benefits article.cont-05 {
  top: 790px;
  left: 200px;
  width: 100%;
}
main:not(.comingsoon).home section.benefits article.cont-05 figure {
  width: 94px;
  height: 94px;
  border-radius: 94px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px 0 0;
}
main:not(.comingsoon).home section.benefits article.cont-05 figure span {
  margin: 0;
  width: 100%;
  height: 100%;
}
main:not(.comingsoon).home section.benefits article.cont-05 figure:hover img {
  width: 100%;
  left: 0;
  top: 0;
}
main:not(.comingsoon).home section.benefits article.cont-05 p {
  display: inline-block;
  vertical-align: top;
  width: 215px;
  padding-top: 18px;
}
main:not(.comingsoon).home section.benefits article.cont-05 p span {
  color: #a7997c;
  font-size: 1.125em;
  line-height: 1.1em;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon).home section.benefits article.cont-05 p:after {
  content: '...................................';
  display: block;
  font-size: 1.6em;
  height: 3px;
  margin-top: -11px;
  color: #796f6c;
}
main:not(.comingsoon).home section.benefits article.cont-06 {
  top: 933px;
  left: 129px;
  width: 500px;
}
main:not(.comingsoon).home section.benefits article.cont-06 h3 {
  font-family: 'Archer Light';
  font-size: 27px;
  color: #a7997c;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: -62px;
  top: -27px;
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
main:not(.comingsoon).home section.benefits article.cont-06 h3:after,
main:not(.comingsoon).home section.benefits article.cont-06 h3:before {
  content: '................................';
  display: block;
  font-size: .89em;
  letter-spacing: .05em;
  height: 32px;
  margin-top: -14px;
  color: #796f6c;
}
main:not(.comingsoon).home section.benefits article.cont-06 h3:after {
  margin-top: 0;
}
main:not(.comingsoon).home section.benefits article.cont-06 figure {
  display: inline-block;
  vertical-align: middle;
  margin-left: -4px;
}
main:not(.comingsoon).home section.benefits article.cont-06 p {
  display: inline-block;
  vertical-align: middle;
  background: #e2dfd6;
  color: #796f6c;
  font-size: 1.21875em;
  text-transform: uppercase;
  line-height: 1.1em;
  width: 160px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: .8em 1em;
}
main:not(.comingsoon).home section.benefits article.cont-07 {
  top: 924px;
  left: 650px;
  width: 500px;
}
main:not(.comingsoon).home section.benefits article.cont-07 figure {
  display: inline-block;
  vertical-align: middle;
  margin-left: -4px;
}
main:not(.comingsoon).home section.benefits article.cont-07 p,
main:not(.comingsoon).nossosprojetos section.projects article.cont-07 p {
  width: 231px;
  position: absolute;
  left: -47px;
  bottom: -12px;
}
main:not(.comingsoon).home section.benefits article.cont-07 p span,
main:not(.comingsoon).nossosprojetos section.projects article.cont-07 p span {
  display: inline;
  background: #e2dfd6;
  color: #796f6c;
  font-size: 1.21875em;
  text-transform: uppercase;
  line-height: 1.85em;
  width: 100%;
  padding: 0.18em 0.35em;
}
main:not(.comingsoon).arevitech section.time {
  padding-bottom: 71px;
}
main:not(.comingsoon).arevitech section.time h3 {
  text-align: center;
}
main:not(.comingsoon).arevitech section.time div.carrGaleria:before {
  content: '';
  background: #d9e0e6;
  height: 207px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
main:not(.comingsoon).arevitech section.time div.carrGaleria:after {
  content: '';
  background: #f3f1f0;
  height: 92px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
main:not(.comingsoon).arevitech section.time div.carrGaleria .ctrl a {
  right: -21px;
}
main:not(.comingsoon).arevitech section.time div.carrGaleria .ctrl a:first-child {
  left: -21px;
  right: auto;
}
main:not(.comingsoon).arevitech section.pilares .circleTitle {
  top: 67px;
  left: 68px;
}
main:not(.comingsoon).arevitech section.pilares aside {
  padding: 2.3em 3.85em 3.6em;
  margin-left: 22.3em;
  line-height: 2.5em;
}
main:not(.comingsoon).arevitech section.pilares aside p {
  font-size: 1.625em;
  color: #796f6c;
  font-weight: 300;
  padding-top: 0.9em;
}
main:not(.comingsoon).arevitech section.pilares aside p strong {
  display: block;
  color: #413a37;
  text-transform: uppercase;
  font-weight: normal;
}
main:not(.comingsoon).arevitech section.pilares aside p:after {
  content: '.......................................................................................';
  font-size: 1.35em;
  display: block;
  letter-spacing: -0.04em;
  height: 30px;
  margin-top: -11px;
}
main:not(.comingsoon).arevitech section.pilares aside p:last-child:after {
  display: none;
}
main:not(.comingsoon).arevitech section.objetivo {
  margin-bottom: -3em;
}
main:not(.comingsoon).arevitech section.objetivo aside {
  position: absolute;
  top: 70px;
  left: 68px;
  width: 295px;
  box-sizing: border-box;
  background: #8f8a89;
  color: #e2dfd6;
  font-size: 1.25em;
  padding: 1.6em 1.8em;
}
main:not(.comingsoon).arevitech section.objetivo aside h3 {
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 0.8em;
}
main:not(.comingsoon).arevitech section.objetivo aside p {
  font-family: 'Archer Book';
  line-height: 1.05em;
}
main:not(.comingsoon).nossosprodutos nav.navg {
  padding: 0 2em 0.9em 4.1em;
  margin-top: -0.4em;
  z-index: 9;
  position: relative;
}
main:not(.comingsoon).nossosprodutos nav.navg h2 {
  font-size: 4.6875em;
  color: #37302e;
  text-transform: uppercase;
  font-weight: 300;
}
main:not(.comingsoon).nossosprodutos nav.navg ul {
  margin: 0.7em 0;
}
main:not(.comingsoon).nossosprodutos nav.navg ul li {
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon).nossosprodutos nav.navg ul li a {
  font-size: 1.3125em;
  color: #8f8a89;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05em;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
main:not(.comingsoon).nossosprodutos nav.navg ul li a:after {
  content: '';
  width: 5px;
  height: 5px;
  background: #a7997c;
  display: inline-block;
  vertical-align: middle;
  margin: 0 .7em;
}
main:not(.comingsoon).nossosprodutos nav.navg ul li a:hover,
main:not(.comingsoon).nossosprodutos nav.navg ul li a.active {
  color: #5e5552;
}
main:not(.comingsoon).nossosprodutos nav.navg ul li:last-child a:after {
  display: none;
}
main:not(.comingsoon).nossosprodutos aside.round {
  margin: -14.3em 0 0 32.3em;
}
main:not(.comingsoon).nossosprodutos .productList {
  padding: 1.7em 3.8em;
}
main:not(.comingsoon).nossosprodutos .productList h2 {
  text-transform: uppercase;
  color: #796f6c;
  font-size: 1.325em;
  padding: 0 0.4em 0.4em;
  font-weight: 500;
}
main:not(.comingsoon).nossosprodutos .productList figure {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 0 0.47em 0.65em;
}
main:not(.comingsoon).nossosprodutos .productList figure img {
  width: 100%;
}
main:not(.comingsoon).nossosprodutos .productList figure figcaption em,
main:not(.comingsoon).nossosprodutos .productList figure figcaption strong {
  font-size: 0.625em;
  text-transform: uppercase;
  font-weight: 900;
  display: block;
  text-align: right;
}
main:not(.comingsoon).nossosprodutos .productList.woodenBox figure {
  width: 282px;
}
main:not(.comingsoon).nossosprodutos .characteristics {
  display: inline-block;
  vertical-align: top;
  color: #796f6c;
  padding: 0.4em 8.55em 0.4em 4.25em;
  width: 372px;
}
main:not(.comingsoon).nossosprodutos .characteristics dt {
  font-size: 1.125em;
  text-transform: uppercase;
}
main:not(.comingsoon).nossosprodutos .characteristics dd {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: .5em 0.1em;
  line-height: 1.7em;
  margin-top: 0.8em;
}
main:not(.comingsoon).nossosprodutos .characteristics dd ul,
main:not(.comingsoon).nossosprodutos .characteristics dd li {
  list-style: disc;
}
main:not(.comingsoon).nossosprodutos .characteristics dd li {
  margin-left: 1em;
}
main:not(.comingsoon).nossosprodutos .tblDescription {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.5em;
  width: 373px;
  border-right: 1px solid #8f8a89;
  border-left: 1px solid #8f8a89;
}
main:not(.comingsoon).nossosprodutos .tblDescription header {
  font-size: 0.8125em;
  background: #8f8a89;
  color: #fff;
  text-transform: uppercase;
  padding: 0.9em;
  text-align: center;
}
main:not(.comingsoon).nossosprodutos .tblDescription ul li {
  display: block;
}
main:not(.comingsoon).nossosprodutos .tblDescription ul li > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.625em;
  font-weight: 900;
  background: #fff;
  box-sizing: border-box;
  line-height: 1em;
  border-right: 1px solid #8f8a89;
  border-bottom: 1px solid #8f8a89;
  margin-right: -4px;
  padding: 0 .5em;
}
main:not(.comingsoon).nossosprodutos .tblDescription ul li > * span {
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon).nossosprodutos .tblDescription ul li > *:before {
  content: '';
  width: 0;
  height: 24.4px;
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon).nossosprodutos .tblDescription ul li strong {
  text-transform: uppercase;
  width: 48%;
}
main:not(.comingsoon).nossosprodutos .tblDescription ul li p {
  width: 26%;
}
main:not(.comingsoon).nossosprodutos .tblDescription ul li p:last-child {
  border-right: none;
  padding-right: 0;
}
main:not(.comingsoon).nossosprodutos a.round {
  margin: -8.7em 0 0 301px;
  color: #796f6c;
}
main:not(.comingsoon).nossosprodutos a.round .msgInfo {
  top: -8px;
  left: -70px;
}
main:not(.comingsoon).nossosprodutos a.round span {
  font-size: 1.125em;
  text-align: center;
}
main:not(.comingsoon).nossosprodutos footer {
  margin-top: 0;
}
main:not(.comingsoon).simulador3d h3 {
  text-align: center;
}
main:not(.comingsoon).simulador3d .carrossel aside {
  position: absolute;
  bottom: 2.05em;
  right: 4.8em;
  text-transform: uppercase;
}
main:not(.comingsoon).simulador3d .carrossel aside * {
  font-family: 'Archer Book';
}
main:not(.comingsoon).simulador3d .carrossel aside p {
  display: inline-block;
  vertical-align: middle;
  color: #8f8a89;
  font-size: 1.625em;
  padding-right: 0.3em;
}
main:not(.comingsoon).simulador3d .carrossel aside nav {
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon).simulador3d .carrossel aside nav a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.4em;
}
main:not(.comingsoon).simulador3d .carrossel aside nav a span {
  background: #8f8a89;
  color: #f3f1f0;
  font-size: 1.5625em;
  width: 27px;
  height: 27px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main:not(.comingsoon).simulador3d .carrossel aside nav a:hover span {
  background: #f3f1f0;
  color: #8f8a89;
}
main:not(.comingsoon).simulador3d .carrGaleria {
  height: 146px;
}
main:not(.comingsoon).simulador3d .carrGaleria .productList {
  width: 1000px;
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
}
main:not(.comingsoon).simulador3d .carrGaleria .productList figure {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  margin: 0 0.48em 0.65em 0;
}
main:not(.comingsoon).simulador3d .carrGaleria .productList figure figcaption {
  padding: 0;
  line-height: initial;
  padding: 0.35em;
  background: #f3f1f0;
}
main:not(.comingsoon).simulador3d .carrGaleria .productList figure figcaption em,
main:not(.comingsoon).simulador3d .carrGaleria .productList figure figcaption strong {
  font-size: 0.625em;
  text-transform: uppercase;
  font-weight: 900;
  display: block;
  text-align: right;
}
main:not(.comingsoon).simulador3d .carrGaleria .ctrl a {
  right: -21px;
}
main:not(.comingsoon).simulador3d .carrGaleria .ctrl a:first-child {
  left: -21px;
  right: auto;
}
main:not(.comingsoon).ondeencontrar nav.navg {
  padding: 0.5em 2em 0.9em 4.1em;
  z-index: 9;
  position: relative;
}
main:not(.comingsoon).ondeencontrar nav.navg h2 {
  font-size: 4.6875em;
  color: #37302e;
  text-transform: uppercase;
  font-weight: 300;
}
main:not(.comingsoon).ondeencontrar nav.navg ul {
  margin: 0.7em 0;
}
main:not(.comingsoon).ondeencontrar nav.navg ul li {
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon).ondeencontrar nav.navg ul li a {
  font-size: 2em;
  color: #8f8a89;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.05em;
  letter-spacing: 0.1em;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
main:not(.comingsoon).ondeencontrar nav.navg ul li a:after {
  content: '';
  width: 9px;
  height: 9px;
  background: #a7997c;
  display: inline-block;
  vertical-align: middle;
  margin: 0 .7em;
}
main:not(.comingsoon).ondeencontrar nav.navg ul li a:hover,
main:not(.comingsoon).ondeencontrar nav.navg ul li a.active {
  color: #5e5552;
}
main:not(.comingsoon).ondeencontrar nav.navg ul li:last-child a:after {
  display: none;
}
main:not(.comingsoon).ondeencontrar #map {
  margin-bottom: -4em;
}
main:not(.comingsoon).ondeencontrar #map svg {
  top: -120px !important;
  overflow: initial !important;
  display: inline-block;
  vertical-align: top;
}
main:not(.comingsoon).ondeencontrar #map svg path {
  cursor: pointer;
}
main:not(.comingsoon).ondeencontrar #map aside {
  display: inline-block;
  vertical-align: top;
  margin-top: 18px;
  width: 340px;
}
main:not(.comingsoon).ondeencontrar #map aside * {
  color: #8f8a89;
  font-weight: 500;
  text-transform: uppercase;
}
main:not(.comingsoon).ondeencontrar #map aside h3 {
  font-size: 1.8125em;
  height: 64px;
}
main:not(.comingsoon).ondeencontrar #map aside div {
  height: 390px;
  overflow: hidden;
}
main:not(.comingsoon).ondeencontrar #map aside div address {
  font-size: .91em;
  line-height: 1.4em;
  padding-bottom: 2em;
  width: 98%;
}
main:not(.comingsoon).ondeencontrar #map aside div address a {
  text-transform: lowercase;
  display: inline-block;
  vertical-align: middle;
}
main:not(.comingsoon).nossosprojetos section.projects {
  padding: 4.4em 4.2em 0;
}
main:not(.comingsoon).nossosprojetos section.projects article {
  position: relative !important;
  top: initial;
  left: initial;
  width: 270px !important;
  margin-right: 2.2em;
}
main:not(.comingsoon).nossosprojetos section.projects article figure {
  width: 270px !important;
  height: 270px !important;
}
main:not(.comingsoon).nossosprojetos section.projects article figure span {
  width: 244px;
  height: 244px;
  cursor: pointer;
}
main:not(.comingsoon).nossosprojetos section.projects article h3 {
  color: #8f8a89;
  text-transform: uppercase;
  font-size: 1.3125em;
  font-weight: 500;
  padding: 0.55em 0 1.9em;
}
main:not(.comingsoon).nossosprojetos section.projects article.cont-01 p {
  margin: 0 0 0 3.4em;
}
main:not(.comingsoon).nossosprojetos section.projects article.cont-01.vrt {
  margin: -8em 2.2em 2.6em 0;
}
main:not(.comingsoon).nossosprojetos section.projects article.cont-01.vrt p {
  background: none;
  color: #000;
  font-size: 1.5em !important;
  font-family: 'Archer';
  font-weight: 300;
  text-transform: initial;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.2em;
}
main:not(.comingsoon).nossosprojetos section.projects article.cont-04 p {
  position: relative;
  left: initial;
  bottom: initial;
  margin: 0 auto 2.6em;
}
main:not(.comingsoon).nossosprojetos section.projects article.cont-07 p {
  position: relative;
  left: initial;
  bottom: initial;
  margin: 0;
}
main:not(.comingsoon).nossosprojetos section.projects article.vrt figure {
  width: 270px !important;
  height: 350px !important;
}
main:not(.comingsoon).nossosprojetos section.projects article.vrt figure span {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
}
main:not(.comingsoon).nossosprojetos section.projects article.vrt figure span img {
  width: auto;
  height: 100%;
}
main:not(.comingsoon).nossosprojetos section.projects article.vrt figure:hover img {
  height: 200%;
  width: auto;
  left: -50%;
  top: -80%;
}
main:not(.comingsoon).nossosprojetos section.projects article.cont-02 p {
  position: relative;
  left: initial;
  bottom: initial;
  margin: 0 auto 0.3em;
}
main:not(.comingsoon).nossosprojetos section.projects article:nth-child(3),
main:not(.comingsoon).nossosprojetos section.projects article:nth-child(6),
main:not(.comingsoon).nossosprojetos section.projects article:nth-child(10) {
  margin: 0 auto;
}
main:not(.comingsoon).nossosprojetos section.projects article:nth-child(6) {
  margin: -7.5em auto 2.6em;
}
main:not(.comingsoon).nossosprojetos section.projects article:nth-child(7) {
  margin: -16.9em 0 0 38.7em;
}
main:not(.comingsoon).nossosprojetos section.projects article.cont-03 {
  margin: -11em 2.2em 2.6em 0;
}
main:not(.comingsoon).nossosprojetos section.projects article.cont-03 p {
  margin: 0 auto;
}
main:not(.comingsoon).nossosprojetos section.projects article:nth-child(9) {
  margin: -7.6em 2.2em 2.6em 0;
}
main:not(.comingsoon).nossosprojetos section.projects:before,
main:not(.comingsoon).nossosprojetos section.projects:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 2.2em;
  top: 2.2em;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 16px solid #8f8a89;
}
main:not(.comingsoon).nossosprojetos section.projects:after {
  right: 1.2em;
  top: 2.2em;
  left: initial;
}
main:not(.comingsoon).internal article {
  padding: 2.7em 4.3em;
}
main:not(.comingsoon).internal article header {
  width: 480px;
  display: inline-block;
  vertical-align: top;
}
main:not(.comingsoon).internal article header h1 {
  font-size: 2.5em;
  color: #8f8a89;
  text-transform: uppercase;
}
main:not(.comingsoon).internal article header em {
  font-size: 1.5em;
  font-family: 'Archer';
  font-weight: 300;
  line-height: 1.2em;
  padding: 0.4em 0 1em;
  display: block;
}
main:not(.comingsoon).internal article > p {
  width: 480px;
  font-size: 1.21875em;
  font-family: 'Archer Book';
  line-height: 1.1em;
  display: inline-block;
  vertical-align: top;
}
main:not(.comingsoon).internal article .title {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  margin: -16.2em 0 0 0.7em;
  font-size: 0.65em;
}
main:not(.comingsoon).internal footer {
  margin-top: 3em;
}
main.comingsoon {
  /*HEADER*/
  max-width: 100%;
  margin: 0 auto;
  padding-top: 17.5em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  /*SECTIONS*/
}
main.comingsoon header {
  text-align: center;
  padding: 3.7em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main.comingsoon header h1 {
  width: 13.3em;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.0667em;
}
main.comingsoon header h1 img {
  width: 100%;
}
main.comingsoon section {
  font-size: 1.44em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
main.comingsoon section > p {
  padding: 3.017em 1.5em;
  line-height: 1.7em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main.comingsoon section.cont_01,
main.comingsoon section.cont_04 {
  background-color: #918c8a;
}
main.comingsoon section.cont_01 > div,
main.comingsoon section.cont_04 > div {
  /*background: url('../images/ilustras/ilustra-cont-01.jpg') center center no-repeat; background-attachment: fixed; background-size: cover;*/
  min-height: 350px;
}
main.comingsoon section.cont_02 {
  background-color: #ffffff;
}
main.comingsoon section.cont_02 p {
  color: #8e8684;
}
main.comingsoon section.cont_02 p:nth-child(1) {
  padding: 3.317em 6.5em;
}
main.comingsoon section.cont_02 p:nth-child(3) {
  padding: 3.317em 8.2em;
}
main.comingsoon section.cont_02 > div {
  background: url('../images/ilustras/ilustra-cont-02.jpg') center center no-repeat;
  background-size: cover;
  font-size: 1em;
  color: #dcdbd9;
  padding: 13.5em;
  box-sizing: border-box;
  line-height: 1.52em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main.comingsoon section.cont_03 {
  padding-bottom: 1.7em;
}
main.comingsoon section.cont_03 p:nth-child(1) {
  padding: 3.317em 7.4em;
  background-color: #584f4c;
}
main.comingsoon section.cont_03 p:nth-child(4) {
  background-color: #ffffff;
  color: #8e8684;
  padding: 1.817em 8.4em 0;
}
main.comingsoon section.cont_03 a {
  background-color: #ffffff;
  color: #8e8684;
  margin: 1.817em 5.4em;
  font-size: 0.7em;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main.comingsoon section.cont_03 a:hover {
  color: #d2bf95;
}
main.comingsoon section.cont_03 > div {
  /*background: url('../images/ilustras/ilustra-cont-03.jpg') center center no-repeat; background-attachment: fixed; background-size: cover;*/
  min-height: 468px;
}
main.comingsoon section.cont_04 p {
  padding: 2.32em 1.5em;
  font-size: 1.11em;
}
main.comingsoon footer {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  color: #8e8684;
  line-height: 1.6em;
  padding: 2em;
  background-color: #ffffff;
}
main.comingsoon footer a {
  color: #8e8684;
  display: inline;
}
main.comingsoon footer i {
  font-size: 1.4em;
  margin-left: 0.2em;
  color: #726865;
}
main.comingsoon.internal {
  padding-top: 14.4em;
}
main.comingsoon.internal header {
  padding: 1.35em;
}
main.comingsoon.internal header h1 {
  width: 7.2em;
}
/*@import url(import.less);*/
