@charset "utf-8";
/* GERAL */
body,
html,
div,
span,
a,
ul,
li,
dl,
dt,
dd,
section,
header,
p,
form,
fieldset,
button,
input {
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-decoration: none;
  outline: none;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure,
a,
img,
span,
:after,
:before {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal !important;
  margin: 0;
}
html object {
  display: none;
}
body {
  font-size: 100%;
  background: #fff;
  /*background: url('../images/bg-mirror.jpg') no-repeat center 60px #fff;*/
}
body * {
  font-family: 'AauxPro OT';
}
body strong {
  font-weight: bold;
}
/*******************************
            GLOBAL
*******************************/
.transit {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.d-midle {
  display: inline-block;
  vertical-align: middle;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.arrow:after {
  content: '';
  position: absolute;
  left: calc(50% - 1.28615em);
  bottom: -1.28615em;
  width: 2.5723em;
  height: 2.5723em;
  background: #dedddc;
  border-radius: 2.5723em;
  z-index: 9;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
.arrow._down:before {
  content: '';
  background: url('../images/arrow_down.svg') center center no-repeat;
  background-size: contain;
  font-size: 2.4em;
  position: absolute;
  left: calc(50% - 0.33em);
  bottom: -0.38em;
  width: 0.64em;
  height: 0.64em;
  color: #726865;
  z-index: 10;
  font-weight: bold;
  line-height: 0.64em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/*******************************
            MAIN
*******************************/
html,
body {
  height: 100%;
}
main {
  max-width: 100%;
  margin: 0 auto;
}
main.comingsoon {
  /*HEADER*/
  padding-top: 17.5em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  /*SECTIONS*/
}
main.comingsoon header {
  text-align: center;
  padding: 3.7em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main.comingsoon header h1 {
  width: 13.3em;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main.comingsoon header h1 img {
  width: 100%;
}
main.comingsoon section {
  font-size: 1.44em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
main.comingsoon section > p {
  padding: 3.017em 1.5em;
  line-height: 1.7em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main.comingsoon section.cont_01,
main.comingsoon section.cont_04 {
  background-color: #918c8a;
}
main.comingsoon section.cont_01 > div,
main.comingsoon section.cont_04 > div {
  background: url('../images/ilustras/ilustra-cont-01.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 410px;
}
main.comingsoon section.cont_02 {
  background-color: #ffffff;
}
main.comingsoon section.cont_02 p {
  color: #8e8684;
}
main.comingsoon section.cont_02 p:nth-child(1) {
  padding: 3.317em 6.5em;
}
main.comingsoon section.cont_02 p:nth-child(3) {
  padding: 3.317em 8.2em;
}
main.comingsoon section.cont_02 > div {
  background: url('../images/ilustras/ilustra-cont-02.jpg') center center no-repeat;
  background-size: cover;
  font-size: 1em;
  color: #dcdbd9;
  padding: 13.5em;
  box-sizing: border-box;
  line-height: 1.52em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main.comingsoon section.cont_03 {
  padding-bottom: 1.7em;
}
main.comingsoon section.cont_03 p:nth-child(1) {
  padding: 3.317em 7.4em;
  background-color: #a89a7d;
}
main.comingsoon section.cont_03 p:nth-child(3) {
  background-color: #ffffff;
  color: #8e8684;
  padding: 1.817em 8.4em 0;
}
main.comingsoon section.cont_03 a {
  background-color: #ffffff;
  color: #8e8684;
  margin: 1.817em 5.4em;
  font-size: 0.7em;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
main.comingsoon section.cont_03 a:hover {
  color: #d2bf95;
}
main.comingsoon section.cont_03 > div {
  background: url('../images/ilustras/ilustra-cont-03.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 568px;
}
main.comingsoon section.cont_04 p {
  padding: 2.32em 1.5em;
  font-size: 1.11em;
}
main.comingsoon footer {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  color: #8e8684;
  line-height: 1.6em;
  padding: 2em;
  background-color: #ffffff;
}
main.comingsoon footer a {
  color: #8e8684;
  display: inline;
}
main.comingsoon footer i {
  font-size: 1.4em;
  margin-left: 0.2em;
  color: #726865;
}
main.internal {
  padding-top: 14.4em;
}
main.internal header {
  padding: 1.35em;
}
main.internal header h1 {
  width: 7.2em;
}
/*******************************
          RESPONSIVE
*******************************/
@media screen and (min-width: 569px) and (max-width: 1024px) {
  .arrow:after {
    content: '';
    position: absolute;
    left: calc(50% - 1.03615em);
    bottom: -1.03615em;
    width: 2.0723em;
    height: 2.0723em;
    background: #dedddc;
    border-radius: 2.0723em;
    z-index: 9;
  }
  .arrow._down:before {
    font-size: 1.9em;
  }
  main.comingsoon {
    /*SECTIONS*/
  }
  main.comingsoon section > p {
    padding: 2.6585em 1.5em;
  }
  main.comingsoon section.cont_01 > div,
  main.comingsoon section.cont_04 > div {
    min-height: 310px;
  }
  main.comingsoon section.cont_02 p:nth-child(1) {
    padding: 2.6585em 3.25em;
  }
  main.comingsoon section.cont_02 p:nth-child(3) {
    padding: 2.6585em 4.1em;
  }
  main.comingsoon section.cont_02 > div {
    padding: 6.75em;
  }
  main.comingsoon section.cont_03 p:nth-child(1) {
    padding: 2.6585em 3.7em;
  }
  main.comingsoon section.cont_03 p:nth-child(3) {
    padding: 2.6585em 4.2em 0;
  }
  main.comingsoon section.cont_03 > div {
    min-height: 568px;
  }
  main.internal {
    padding-top: 8.6em;
  }
}
@media screen and (max-width: 568px) {
  .arrow:after {
    content: '';
    position: absolute;
    left: calc(50% - 0.75em);
    bottom: -1.03615em;
    width: 1.5em;
    height: 1.5em;
    background: #dedddc;
    border-radius: 1.5em;
    z-index: 9;
  }
  .arrow._down:before {
    font-size: 1.4em;
    bottom: -0.54em;
  }
  main.comingsoon {
    padding-top: 15em;
    /*SECTIONS*/
  }
  main.comingsoon header h1 {
    width: 9.9em ;
  }
  main.comingsoon section > p {
    padding: 1.5em 1em;
    line-height: 1.3em;
  }
  main.comingsoon section.cont_01 > div,
  main.comingsoon section.cont_04 > div {
    min-height: 205px;
    background-attachment: initial;
  }
  main.comingsoon section.cont_02 p:nth-child(1) {
    padding: 1.5em 1em;
  }
  main.comingsoon section.cont_02 p:nth-child(3) {
    padding: 1.5em 1em;
  }
  main.comingsoon section.cont_02 > div {
    padding: 2.5em 1.5em;
  }
  main.comingsoon section.cont_03 p:nth-child(1) {
    padding: 1.5em 1em;
  }
  main.comingsoon section.cont_03 p:nth-child(3) {
    padding: 1.5em 1em;
  }
  main.comingsoon section.cont_03 > div {
    min-height: 284px;
    background-attachment: initial;
  }
  main.comingsoon section.cont_03 a {
    line-height: 1.2em;
    margin: 1.5em;
  }
  main.comingsoon section.cont_04 p {
    padding: 1.5em 1em;
    font-size: 1.11em;
  }
  main.comingsoon footer {
    padding: 1em .5em;
  }
  main.internal {
    padding-top: 6.1em;
  }
  main.internal header {
    padding: 1.35em;
  }
  main.internal header h1 {
    width: 4.5em;
  }
}
